* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f4f6f9;
}

header, footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background: #34495e;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    padding: 8px;
}

nav a:hover {
    background: #1abc9c;
}

section {
    width: 60%;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
}

button {
    background: #1abc9c;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #16a085;
}

@media(max-width:768px){
    section { width: 95%; }
    nav { flex-direction: column; }
}